.article {
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  max-width: 48rem; 
  padding: 2rem;

  &__backLink {
  background-color: #3b82f6;
  color: #ffffff;      
  font-weight: 700;       
  padding: 0.5rem 1rem;   
  border-radius: 0.25rem;  
  margin-bottom: 1rem;     
  display: inline-block;    
  text-decoration: none;    
}

&__backLink:hover {
  background-color: #1d4ed8; 
}

h1 {
  font-size: 36;         
  font-weight: 700;          
  margin-bottom: 20px;   
}

&__publishedDate {
  color: #4b5563;
}

h2{
  font-size: 22;          
  font-weight: 600;             
}
h3{
  font-size: 18;          
  font-weight: 600;             
}

&__desc, blockquote{
  font-style: italic;
}

p, blockquote {  
  margin: 10px 0 10px 0;
}
h2, h3, img{
  margin: 20px 0 20px 0;
}
hr{
  margin: 40px 0 40px 0;
}
}